
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/global.css */
body {
    margin: 0;
    font-family: 'Dax-Regular', sans-serif;
    background-image: url('/assets/Property 1=Frame 48.png');
    background-size: cover;
    height: 100vh;
    /* overflow: hidden; */
    
}

@font-face {
    font-family: "Dax-Regular";
    src: url("https://db.onlinewebfonts.com/t/a52678f563c78c6fc954b7ace30bc8e5.eot");
    src: url("https://db.onlinewebfonts.com/t/a52678f563c78c6fc954b7ace30bc8e5.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a52678f563c78c6fc954b7ace30bc8e5.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a52678f563c78c6fc954b7ace30bc8e5.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a52678f563c78c6fc954b7ace30bc8e5.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a52678f563c78c6fc954b7ace30bc8e5.svg#Dax-Regular")format("svg")
    }
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
button {
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  

button:hover {
    box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.01);
}

button:active {
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }

input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header img {
    height: 40px;
}

.header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info i {
    margin-right: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
   
}

.upload-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    position: relative;
    /* For absolute positioning of preview */
}

.upload-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.upload-box .note {
    margin-top: 8px;
}

.upload-box h2 i {
    margin-right: 8px;
}

.upload-box input[type="text"] {
    width: calc(100% - 8px);
    /* Adjust width accounting for padding */
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Include padding in width calculation */
}

.upload-box .upload-area {
    border: 2px dashed #ff9900;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.upload-box .upload-area i {
    font-size: 2em;
    color: #ff9900;
}

.upload-box .upload-area p {
    margin: 10px 0 0;
    color: #ff9900;
    font-weight: 500;
}

.upload-box .note {
    font-size: 0.8em;
    color: #999;
    margin-bottom: 20px;
}

.upload-box button {
    width: 100%;
    padding: 10px;
    background-color: #E17218;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.upload-box button:hover {
    background-color: #ff9900;
    color: #fff;
}

.upload-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    border: 2px dashed #ff9900;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FEF2e9;
}

/* @media (max-width: 600px) {
    .header nav a {
        margin: 0 10px;
    }
} */

.upload-box input[type="file"] {
    display: none;
}

.upload-box .file-list-container {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease;
    /* Transition on opacity*/
    max-height: 0;
    max-width: 0;
    /*Start with max-height 0 and max-width 0 */
}

.upload-box .file-list-container.show {
    opacity: 1;
    transition: all 0.3s ease;
    max-height: 100px;
    max-width: 100%;
}

.upload-box .file-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.upload-box .file-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
    overflow: hidden;
    opacity: 0;
    /* Initial opacity for items */
    transform: translateY(-20px);
    /* Start slightly beside*/
}

.upload-box .file-list li.show {
    opacity: 1;
    /* Fade in */
    transform: translateY(0px);
    /* Move to final position */
}

.upload-box .file-list li.remove {
    opacity: 0;
    transform: translateY(100px);
    /* Fade out, slide down */
    max-height: 0;
    padding: 0;
    border: none;
}

.upload-box .file-list li.remove~li {
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.upload-box .file-list li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-box .file-list li span {
    font-size: 1em;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px;
}

.upload-box .file-list li button {
    background: transparent;
    border: none;
    color: #ff4d4d;
    font-size: 1.1em;
    max-width: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.file-count {
    font-size: 0.775rem;
    color: #666;
    padding: 0.01rem;
    text-align: right;
}

.upload-box .file-list li button:hover {
    color: #666;
    box-shadow: none;
}

.preview-transmittal {
    position: absolute;
    top: 0;
    left: 100%;
    /* Start off-screen to the right */
    transform: translateX(-100%);
    /* Set the start position just behind the upload box*/
    width: 380px;
    /* Set a fixed width */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: all 0.5s ease;
    /* Transition all */
    opacity: 0;
    max-height: 0;
    /* Start invisible and collapsed */
    overflow: hidden;

}

.preview-transmittal.show {
    left: 0;
    top: 0;
    transform: translateX(-105%);
    transition: all 0.5s ease;
    /* Move to the left of the upload box */
    opacity: 1;
    max-height: 100vh;
    /* Expand to a fixed height*/


}

.preview-transmittal h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.preview-transmittal .field label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.preview-transmittal .field input[type="text"] {
    width: 100%;
    padding: 15px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.preview-transmittal .pagination {
    margin: 8px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-transmittal .pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    width: 40px;
    font-weight: bold;
    color: #000;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    
}

.preview-transmittal .pagination button:hover {
    background-color: #eee;
}

.preview-transmittal .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preview-transmittal .button-container button {
    padding: 15px 15px;
    border: none;
    background-color: #E17218;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;

}

.preview-transmittal .button-container button#saveLibraryButton {
    padding: 15px 15px;
    border: none;
    background-color: #EBA801;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;

}

.preview-transmittal .button-container button:hover {
    background-color: #367c39;
}

.upload-queue {
    position: absolute;
    right: 25%;
    top: 0;
    width: 300px;
    max-height: 600px;
    background-color: #f0f0f0;
    transition: right 0.4s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 0;
    opacity: 0;
    padding: 10px 0;
}

.upload-queue.show {
    right: 0;
    transform: translateX(105%);
    opacity: 1;
}


.upload-queue h2 {
    padding: 10px;
    margin: 0;
    font-size: 1.2em;
    border-radius: 8px 8px 0 0;
}

.upload-queue .file-list-container {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease;
    max-height: 0;
    max-width: 0;
}

.upload-queue .file-list-container.show {
    opacity: 1;
    display: block;
    transition: all 0.3s ease;
    max-height: 100%;
    max-width: 100%;
}

.upload-queue .file-list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 500px;
}

.upload-queue .file-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: all 0.3s ease;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
}

.upload-queue .file-list li.show {
    opacity: 1;
    transform: translateY(0px);
}

.upload-queue .file-list li span {
    font-size: 0.9em;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.upload-queue .file-list li button {
    background: #ff4d4d;
    border: none;
    color: #fff;
    font-size: 0.9em;
    max-width: 60px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-queue .file-list li button:hover {
    background-color: #ff1a1a;
}

.upload-queue .file-list li.remove {
    opacity: 0;
    transform: translateY(100px);
    max-height: 0;
    padding: 0;
    border: none;
}

.upload-queue .file-list li.remove~li {
    transform: translateY(-10px);
}

.upload-queue .file-list li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.upload-queue .file-list li span.status {
    font-size: 0.9em;
    color: #fff;
    background-color: #E17218;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.upload-queue .file-list li span.status.done-item {
    font-size: 0.9em;
    color: #fff;
    background-color: #008C28;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.upload-queue .file-list li span.status.failed-item  {
    font-size: 0.9em;
    color: #fff;
    background-color: #8c0000;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.title-container {
    align-items: center;
    margin-bottom: 20px;
}

.title-container .remove {
    display: none;
}
